<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Inventory Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/atlantis.min.css">
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="dist-dealer-list section" style="margin-left: 15%;">
	<div class="container-fluid">
		<div class="dist-dealer-list-div section-div">
			<!-- <form action="/inventoryByName" method="post">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<input type="text" class="form-control" id="identifier" name="name" placeholder="Search">
						</div>
						<div class="col-12">

								<button type="submit" class="btn btn-success w-80">SEARCH</button>

						</div>
					</div>
				</div>
			</form> -->
			<div class="d-flex justify-content-between mb-2">
				<h4 class="h4">INVENTORY <span>LIST</span></h4>
			</div>
			<div class="table-responsive">
				<table id="basic-datatables" class="display table table-striped table-hover">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Inventory</th>
						<th class="action">Action</th>
					</tr>
				</thead>
				<tbody>
					<% invList.forEach(function(inv){ %>
					<tr>
						<td><%= inv.NAME %></td>
						<td><%= inv.INVENTORY %></td>
						<td>
							<a href="/inventorybyId/Id/<%= inv.PRODUCTCONF_ID %>" class="btn btn-dark btn-sm">Edit</a>
						</td>
					</tr>
          <% }); %>
				</tbody>
			</table>
			</div>
			<!-- <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="/inventory/pageNo/1" class="active">1</a>
  <a href="/inventory/pageNo/2">2</a>
  <a href="/inventory/pageNo/3">3</a>
  <a href="/inventory/pageNo/4">4</a>
  <a href="/inventory/pageNo/5">5</a>
  <a href="/inventory/pageNo/6">6</a>
  <a href="/inventory/pageNo/7">&raquo;</a>
</div> -->
		</div>
	</div>
</div>
</div>

<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/datatables/datatables.min.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script>
	$(document).ready(function() {
		$('#basic-datatables').DataTable({
		});
	});
</script>
</body>
</html>
