<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">

<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<style>
.dash-panel .top-panel .card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px;
	position: relative;
	margin-bottom: 10px;
}

.dash-panel .top-panel .card .my-dash-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	text-align: center;
	align-self: center;
	display: flex;
	justify-content: center;
}

.dash-panel .top-panel:nth-child(1) .card .my-dash-icon {
	background: #f1a0ff;
}

.dash-panel .top-panel:nth-child(1) .card .my-dash-icon svg {
	color: #7b0d8e;
}

.dash-panel .top-panel:nth-child(2) .card .my-dash-icon {
	background: #fdcdbe;
}

.dash-panel .top-panel:nth-child(2) .card .my-dash-icon svg {
	color: #b53810;
}

.dash-panel .top-panel:nth-child(3) .card .my-dash-icon {
	background: #acfdb0;
}

.dash-panel .top-panel:nth-child(3) .card .my-dash-icon svg {
	color: #126515;
}

.dash-panel .top-panel:nth-child(4) .card .my-dash-icon {
	background: #c2ccff;
}

.dash-panel .top-panel:nth-child(4) .card .my-dash-icon svg {
	color: #0f1f7b;
}

.dash-panel .top-panel .card .h4 {
	font-weight: 700;
	font-size: 22px;
	margin: 0;
}

.dash-panel .top-panel .card span {
	font-weight: 600;
	font-size: 12px;
	color: #555;
}

.dash-panel .top-panel .card .option1 {

	/*display: none;*/
	position: absolute;
	top: 0px;
	left: auto;
	right: 10px;
	color: #444;
	font-size: 13px;
}

.dash-panel .top-panel .card:hover .option1 {
	display: block;
}

.dash-panel .top-panel .text-div {
	padding-right: 10px;
}
</style>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
	<div id="content" class="p-4 p-md-5 pt-5">
    <div id="dialog-se" title="Basic dialog">
    	<div class="d-flex justify-content-between mb-2">
    		<a href="/create_se_user" class="btn btn-danger btn-create btn-sm">+ Add New Lead</a>
    		<a href="/" class="btn btn-danger btn-create btn-sm">Skip</a>
    	</div>
    	</div>
	</div>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.js"></script>
<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script>

</script>
</body>
</html>
